---
---
<br />
<footer>
	<div align=center>
		<a class="github-icon" href=https://github.com/byrdocs title=GitHub:byrdocs><img src=https://cdn.simpleicons.org/github alt=GitHub:byrdocs height=15px /></a>
		<a href=https://byrdocs.org title="BYR Docs 主站"><img src=https://byrdocs.org/logo_512.png alt="BYR Docs 主站" height=15px /></a>
		<a href=https://qm.qq.com/cgi-bin/qm/qr?k=plu_KgkqxI4Dw-FwW1aFQDQ0hL062WNV&jump_from=webapi&authKey=09aiBE16MH9jTfmgmGtCjMRsvpazAMkvLcG35mdICYHe2+FKF51qqSIdUC0dVxkh title="QQ 群"><img src=https://cdn.simpleicons.org/qq alt="QQ 群" height=15px /></a>
	</div>
</footer>
<style>
	footer{
		border-top:1px solid #a2a9b1;
		clear:right;
		padding-top:10px;
	}
	a{
		padding:5px;
		text-decoration:none;
	}
	:global(.dark) .github-icon{
		filter:invert(1);
	}
</style>
