---
const {frontmatter}=Astro.props;
const answerCompleteness=(答案完成度:string)=>{
	switch(答案完成度){
		case "残缺":
			return {
				style:"red",
				text:"残缺",
			};
		case "完整":
			return {
				style:"magenta",
				text:"完整",
			};
		case "完整可靠":
			return {
				style:"green",
				text:"完整可靠",
			};
		default:
			return {
				style:"gray",
				text:"未知",
			};
	}
};
---
<div>
	<table>
		<tr>
			<th>时间</th>
			<td>{frontmatter.时间}</td>
		</tr>
		<tr>
			<th>科目</th>
			<td><a href={`https://byrdocs.org/?c=test&q=${frontmatter.科目}`}>{frontmatter.科目}</a></td>
		</tr>
		<tr>
			<th>阶段</th>
			<td>{frontmatter.阶段}</td>
		</tr>
		<tr>
			<th>类型</th>
			<td>{frontmatter.类型}</td>
		</tr>
		<tr>
			<th>学院</th>
			<td>{frontmatter.学院?frontmatter.学院.join("、"):"未知"}</td>
		</tr>
		<tr>
			<th>来源</th>
			<td>{frontmatter.来源?<a href={`https://byrdocs.org/?c=test&q=${frontmatter.来源}`}>BYR Docs 文件</a>:"暂无"}</td>
		</tr>
		<tr>
			<th>答案完成度</th>
			<td>{(({style,text})=>(
				<span style={`color:${style}`}>{text}</span>
			))(answerCompleteness(frontmatter.答案完成度))}</td>
		</tr>
	</table>
</div>
<style>
	table{
		background-color:#f9f9f9;
		border:solid 2px;
		border-collapse:collapse;
		clear:right;
		font-size:90%;
		float:right;
		line-height:1.4em;
		margin:0.5em 0.5em 1em;
		padding:0.2em;
		width:360px;
	}
	td{
		border:solid 1px;
		padding:1px 2px;
	}
	:global(.dark) table{
		background-color:#272727;
	}
</style>
